In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.concat(
    map(pd.read_csv, ['raw_lamudi_bsd1.csv', 'raw_lamudi_bsd2.csv','raw_lamudi_bsd3.csv','raw_lamudi_bsd4.csv','raw_lamudi_bsd5.csv','raw_lamudi_bsd6.csv']), ignore_index=True)

In [239]:
#df = pd.read_csv('lamudi_bsd1.csv')

In [240]:
df.columns = df.columns.str.replace('lb', 'building_size')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18000 entries, 0 to 17999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           18000 non-null  object
 1   bedrooms        17986 non-null  float64
 2   bathrooms       17980 non-null  float64
 3   car_spaces      8842 non-null   float64
 4   land_size       17897 non-null  float64
 5   building_size   17842 non-null  float64
 6   multiple_floor  3988 non-null   float64
 7   issecurity      18000 non-null  int64
 8   isgarden        18000 non-null  int64
 9   isbalcony       18000 non-null  int64
 10  iscourtyard     18000 non-null  int64
 11  lokasi          17817 non-null  object
 12  harga           17992 non-null  object
dtypes: float64(6), int64(4), object(3)
memory usage: 1.8+ MB

In [5]:
df = df.drop_duplicates(subset='title')

In [6]:
df['multiple_floor'] = df['multiple_floor'].fillna('1')
df['car_spaces'] = df['car_spaces'].fillna('1')

In [7]:
df['car_spaces'] = df['car_spaces'].fillna(1)

In [8]:
#df['isbalcony'] = df['isbalcony'].astype(float)
#df['iscourtyard'] = df['iscourtyard'].astype(float)
#df['isgarden'] = df['isgarden'].astype(float)
#df['issecurity'] = df['issecurity'].astype(float)
df['multiple_floor'] = df['multiple_floor'].astype(float)
df['car_spaces'] = df['car_spaces'].astype(float)
df['land_size'] = df['land_size'].astype(float)

In [9]:
df = df.dropna()

In [10]:
df['harga'] = df['harga'].str[3:]
df['harga'] = df['harga'].str.replace('.','')
df['harga'] = df['harga'].astype(float)

C:\Users\User\AppData\Local\Temp\ipykernel_1104\3012192716.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['harga'] = df['harga'].str.replace('.','')

In [248]:
#a = np.array(df['multiple_floor'].values.tolist())
#df['multiple_floor'] = np.where(a > 1, 1, 0).tolist()
df = df[df['land_size'] < 300]
df = df[df['building_size'] < 300]
df = df[df['car_spaces'] < 10]
df = df[df['bedrooms'] < 5] 
df = df[df['bathrooms'] < 5] 
df = df[df['multiple_floor'] < 5]

In [11]:
df.to_csv('clean_lamudi_tangsel.csv', index=False)

In [10]:
df.head()

,title,bedrooms,bathrooms,car_spaces,land_size,building_size,multiple_floor,issecurity,isgarden,isbalcony,iscourtyard,lokasi,harga
0,Rumah Minimalis Strategis Dekat Gading Serpong...,3.0,2.0,1.0,60.0,72.0,1.0,1,0,0,0,Di lelang cesy cluster delima alsut tangerang,535000000.0
1,Rumah Strategis Harga All In Bisa Nego Dekat G...,3.0,2.0,1.0,60.0,72.0,1.0,1,0,0,0,Rumah Minimalis Strategis Dekat Gading Serpong...,535000000.0
2,Rumah Strategis di Graha Raflesia Citra Raya S...,2.0,2.0,1.0,72.0,40.0,1.0,1,1,0,1,Rumah Strategis Harga All In Bisa Nego Dekat G...,630000000.0
3,Rumah Minimalis Strategis di Perum Griya Surad...,3.0,2.0,1.0,72.0,144.0,2.0,1,0,1,0,Rumah Strategis di Graha Raflesia Citra Raya S...,840000000.0
4,Rumah 2 Lantai di Citra Prima Serpong Siap Hun...,3.0,2.0,1.0,72.0,144.0,2.0,1,1,1,0,Rumah Minimalis Strategis di Perum Griya Surad...,960000000.0

In [99]:
df['multiple_floor'] = df['multiple_floor'].astype(float)

In [256]:
max(df['issecurity'])

1